.logo{
    width: 10%;
    height: 10%;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    border: 2px solid green;
    width: 100%;
    margin: auto;
    text-decoration: none;
}
.search-container{
    border-radius: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.9s;
    box-shadow: 100px;
}
.gallery{
    padding: 5px;
    display: flex;
}
.galleryItem{
    flex: 1;
    padding: 50px;
}
.galleryImage{
    width: 100%;
}